<section>
    <h2 class="text-center m-5"> Activitats relacionades amb Sabor de Valls</h2>
    <div class="historia-activities">
    <div class="historia-activity">
      <div class="historia-activity__description ">
        <h3 class="historia-activity__heading text-center margin-2">Un Concurs Amb Aroma de Cirera</h3>
        <p><span class="highlight">Vall de Gallinera</span>, joia d'Alacant, s'engalana aquesta temporada amb un esdeveniment sense precedents. Sota l'ombra rosada dels cirerers en flor, el concurs de cuina "Sabors de la Vall" pretén catapultar la regió com a destinació de turisme gastronòmic de referència, on esperem que puges gaudir de la nostra Vall.</p>
      </div>
      <figure class="historia-activity__image">
        <img src="./assets/images/historia/pep_girasol.webp" alt="Concurs de cuina a la Vall de Gallinera">
        <figcaption class="text-center bg-light">Foto per Arnau Panís</figcaption>
      </figure>
    </div>


      
      <div class="historia-activity">     
      <div class="historia-activity__description">
        <h3 class="historia-activity__heading text-center margin-2">Activitats Per a Tots els Públics</h3>
      <p>Per als més aventurers, l'excurisió des de la <span>Vall de la Gallinera</span> fins a la Safor serà una odissea de paisatges i històries. Aquells amb esperit més cultural gaudiran d'obres de teatre al carrer, mentre que per als més menuts s'organitzaran tallers culinaris i jocs que els descobriran els secrets dels nostres arrels.</p>
    </div>
    <figure class="historia-activity__image">
      <img src="./assets/images/historia/CirerersVallGallinera.webp" alt="Floració dels Cirerers">
      <figcaption class="text-center bg-light">Foto per Laia Soler</figcaption>
    </figure>
      </div>
      
      <div class="historia-activity">
    <div class="historia-activity__description">
        <h3 class="historia-activity__heading text-center margin-2">La Foradada: Un Viatge al Cor de la <span>Vall</span></h3>
    <p>Una de les joies de l'esdeveniment és la visita guiada a La Foradada. Aquesta activitat no només oferirà vistes panoràmiques espectaculars, sinó també una càpsula del temps que narrarà la història de la <span>Vall</span> des dels seus primers pobladors, on els diferents narradors i narradores conten la historia de la Vall.</p>
    </div>
        <figure class="historia-activity__image">
        <img src="./assets/images/historia/foradada.webp" alt="Vista de La Foradada">
        <figcaption class="text-center bg-light">Foto per Marc García</figcaption>
        </figure>
      </div>
    </div>
  </section>






