<section class="historia__concurs ">
    <div class="historia__concurs__header text-center m-3">
      <!-- Simplifica la estructura aquí i elimina les classes innecessàries -->
      <h2 class="historia__title mb-5">
        <span class="historia__title-word historia__title-word--1">Gran </span>
        <span class="historia__title-word historia__title-word--2">Concurs </span>
        <span class="historia__title-word historia__title-word--3">de </span>
        <span class="historia__title-word historia__title-word--4">la </span>
        <span class="historia__title-word historia__title-word--5">Vall </span>
        <span class="historia__title-word historia__title-word--6">de </span>
        <span class="historia__title-word historia__title-word--7">Sabors </span>
        <span class="historia__title-word historia__title-word--8">!</span>
      </h2>
    </div>
    
    <div class="historia__content container">
      <p class="historia__paragraph mb-3">Benvinguts i benvingudes a una nova edició de "Sabor de la Vall" en la Vall de la Gallinera!</p>
      <p class="historia__paragraph mb-4">Aquest concurs de reposteria de nou reunirà als nostres cuiners novels, on tant xiquets i xiquetes com adults poden guanyar el premi.</p>
      <blockquote class="cita-famos historia__quote mb-3">Com va dir la xef <cite class="nom-personatge">Gessami Caramésà:</cite>:</blockquote>
      <blockquote class="cita-personatge historia__quote-text mb-4"> "Hi ha molta gent que té por de la part dolça de la cuina, deixaràs que la por et venci?"</blockquote>
      <p class="historia__paragraph mb-5">Els jutges avaluaran la creativitat, el sabor i la presentació dels postres. El guanyador s'emportarà el títol de "Mestre Pastisser de la Vall"!</p>
    </div>  
  </section>