<section class="trofeus text-center">


  <h3 class="premis__titol  mb-2 justify-center align-items-center">
    <span class="premis__titol--lletra">E</span><!--
    --><span class="premis__titol--lletra">l</span><!--
    --><span class="premis__titol--lletra">s</span><!--
    --><span class="premis__titol--lletra"> </span><!--
    --><span class="premis__titol--lletra">n</span><!--
    --><span class="premis__titol--lletra">o</span><!--
    --><span class="premis__titol--lletra">s</span><!--
    --><span class="premis__titol--lletra">t</span><!--
    --><span class="premis__titol--lletra">r</span><!--
    --><span class="premis__titol--lletra">e</span><!--
    --><span class="premis__titol--lletra">s</span><!--
    --><span class="premis__titol--lletra"> </span><!--
    --><span class="premis__titol--lletra">p</span><!--
    --><span class="premis__titol--lletra">r</span><!--
    --><span class="premis__titol--lletra">e</span><!--
    --><span class="premis__titol--lletra">m</span><!--
    --><span class="premis__titol--lletra">i</span><!--
    --><span class="premis__titol--lletra">s</span>
  </h3>
  







  
  <div class="trofeus-container">
    <div class="trofeus-container__individual">
      <img class="trofeus-container__individual--imatge" src="./assets/images/home/Premi1.webp" alt="Button image description">
      <h3  class="mb-1">Premi per als adults</h3>
      <p class="trofeus__description">
        Aquest premi reconeix al millor pastiser en la categoria adulta.
      </p>
    </div>
    <div class="trofeus-container__individual">
      <img  class="trofeus-container__individual--imatge" src="./assets/images/home/Premi2.webp" alt="Button image description">
      <h3  class="mb-1">Premi al producte local</h3>
      <p class="trofeus__description">
        Celebrant els millors productes de la nostra terra, aquest premi impulsa la utiltizació dels productes locals.
      </p>
    </div>
    <div class="trofeus-container__individual">
      <img class="trofeus-container__individual--imatge" src="./assets/images/home/Premi3.webp" alt="Button image description">
      <h3  class="mb-1">Premi cirereta</h3>
      <p class="trofeus__description">
        Dirigit als joves talents, aquest premi busca inspirar i motivar a les noves generacions a l'art de la reposteria.
      </p>
    </div>
  </div>
</section>