<section class="historia__viatjar  justify-content-center text-center">
    
    <div class="historia__viatjar__planning">
      <h2 class="historia__viatjar__planning__heading  text-center">
        
        Planifica el teu viatge  
        <span class="badge rounded-pill bg-secondary bg-success">Nou</span>
      </h2>
      <ul class=" historia__viatjar__planning__list">
        <li class="historia__viatjar__planning__list__item">
          <i class="fa fa-3x fa-utensils historia__viatjar__planning__list__item__icon"></i>
          <span class="historia__viatjar__planning__list__item__text text-center">On menjar</span>
          
        </li>
        <li class=" historia__viatjar__planning__list__item">
          <i class="fa fa-3x fa-bed historia__viatjar__planning__list__item__icon"></i>
          <span class="historia__viatjar__planning__list__item__text text-center">On dormir</span>
        </li>
        <li class=" historia__viatjar__planning__list__item">
          <i class="fa fa-3x  fa-hiking historia__viatjar__planning__list__item__icon"></i>
          <span class="historia__viatjar__planning__list__item__text text-center">Què fer</span>
        </li>
        <li class="historia__viatjar__planning__list__item">
          <i class="fa fa-3x  fa-map-marker-alt historia__viatjar__planning__list__item__icon"></i>
          <span class="historia__viatjar__planning__list__item__text text-center">Com arribar</span>
        </li>
      </ul>
    </div>
  </section>