.logo {
  width: auto;
  max-width: 75px; 
  height: auto;
  max-height: 75px;
}

.social-icon {
  margin: 0 10px; 
  color: $dark-color; 
  &:hover {
    transform: scale(1.1); 
  }
}

.fa-google:hover {
  color: #4285F4; 
}
.fa-facebook-f:hover {
  color: #3B5998;
}
.fa-twitter:hover {
  color: #1DA1F2; 
}


.footer {
  width: 100%;

  min-height: 10vh;
  color: $white;
  background-color: $gray; 


  &__container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto; 
    text-align: center;

    > div { 
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%; 
      

      a { 
        font-size: 1.5rem;
        color: $white;
      }
    }
  }

  @media (max-width: $tablet) {
    display: flex;
    .footer__container {
      display: flex;

      flex-direction: column;

      > div {
        flex: none; 
        width: 100%;
        margin-bottom: 2vh; 
      }
    }
  }
}