.logo {
  width: auto;
  max-width: 75px; 
  height: auto;
  max-height: 75px;
}

.social-icon {
  margin: 0 10px; 
  color: $dark-color; 
  &:hover {
    transform: scale(1.1); 
  }
}

.fa-google:hover {
  color: #4285F4; 
}
.fa-facebook-f:hover {
  color: #3B5998;
}
.fa-twitter:hover {
  color: #1DA1F2; 
}


.footer {
  width: 100%;
  min-height: 10vh;
  color: $white;
  background-color: $gray; 

  &__container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto; 
    text-align: center;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%; 

      &:nth-child(2) {
        // Asegurar que el contenidor dels enllaços utilitza tot l'ample disponible
        display: flex;
        justify-content: space-between; // Distribueix els elements internament
      }

      nav {
        display: flex;
        justify-content: space-between; // Equitativament espaiat
        width: 100%; // Asegurar que el <nav> s'estén a tot l'ample

        a {
          padding: 0; 
          font-size: calc(1em);
          color: $white;
        }
      }
    }
  }

  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;

    .footer__container {
      display: flex;
      flex-direction: column;

      > div {
        flex: none; 
        width: 100%;
        margin-bottom: 2vh; 
      }

      nav a {
        padding: 2vh 0; 
        font-size: calc(1em + 2vh);
        color: $white;
      }
    }
  }
}