

.header {
  display: flex;
  padding: 1% 25%;
  
  border-bottom: 3px solid $uoc-masterbrand;
  &__logo {
    max-width: 75px;
    max-height: 75px;
    text-align: start;
  }

  &__nav  {
    display: flex;
    

    a {
      
      display: inline-block;
      margin: 0 1vh; 
      font-size: calc(1em );
      color: $white;
      text-decoration: none;
      border-bottom: 3px solid transparent;
    }
    
  }

 

  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:0;
    text-align: center;
    &__logo {
      display: flex;
      flex-direction: column;
      max-width: 20vh;
      max-height: 20vh;
    }

    &__nav  {
      flex-direction: column;
      a {
        padding: 2vh 0; 
        font-size: calc(1em + 2vh);
        color: $white;
      }
    }
  

  }
}