.home {
  //Per defecte utilitzaría flex
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  max-height: 70vh;
  
  @media(max-width: $tablet) { 
    height: auto;

    max-height: none; 
  }

  // Amb @supports indique que si el navegador es compatible amb grid utiltize aquesta part del codi
  @supports (display: grid) {
    display: grid;
    grid-template-areas:
      "home__a home__a home__b"
      "home__a home__a home__c"
      "home__a home__a home__c"
      "home__d home__d home__c";
    grid-template-rows: repeat(4, 1fr);

    grid-template-columns: repeat(3, 1fr);
      

      @media(max-width: $tablet) {
        display: flex;
        flex-direction: column;
        height: auto;
        max-height: none; 
      }

      &__a { 
        grid-area: home__a;
        overflow: hidden;
      }
      
      &__b { 
        grid-area: home__b;
      }
      
      &__c { 
        grid-area: home__c;
      }
      
      &__d { 
        grid-area: home__d;
      }


  }

  &__a { 

    @media(max-width: $phone) {
      opacity: 0.7;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      @media(max-width: $tablet) {
        width: 100vw;
        height: auto;
      }
    }
  }

  &__b {
    align-items: center; 
    justify-content: start;
    font-family: $font-family-Comic;
    line-height: 1.5;
    text-align: center; 
    background-color: $color-secundari;
    container-type: inline-size;
    container-name: home;


    &__text {
      position: relative;
      display: block;
      animation: moveVertical 5s linear infinite;

      @media(max-width: $tablet) {
        animation: none;
      }



      &__1, &__2 {
        display: block;
        width: 100%;
        margin-bottom: 2vh; 

      }
  
      &__1 {
        animation: gamaGris 4s infinite linear;
      }
  
      &__2 {
        animation: gamaGris 6s infinite linear; 
      }
    }
  }

  &__c {
    align-items: center;
    justify-content: center;
    height: auto;
    color: $white; 
    background-color: $gray;


  &__container{
    padding: 3% 5%;
  }
    &__title { 
      font-size: 1.2rem;
    }
  
  }

  &__d {
    position: relative; 
    overflow: hidden;
    white-space: nowrap;

    i { 
      padding: 0 10px;
      font-size: 2rem; 
      animation: moveX 40s linear infinite;

      &:hover {
        transform: scale(110%);
      }
    } 
  }
}


@supports (container-type: inline-size) {
 


  @container  home (min-width: 200px) and (max-width: 350px) {
    .home__b__text{
      font-size: 1.25rem;
    }  }

  @container home  (min-width: 350px) and (max-width: 375px) {
    .home__b__text{
      font-size: 1.5rem;
    }  }

  @container home  (min-width: 375px) and (max-width: 400px) {
    .home__b__text{
      font-size: 1.75rem;
    }  }

  @container home  (min-width: 400px) and (max-width: 450px) {
    .home__b__text{
      font-size: 2rem;
    }  }

    @container home  (min-width: 450px)  {
      .home__b__text{
        font-size: 2.5rem;
      }  }
  
  
  }


