.home {
  width: 100%;
  max-height: 70vh;
  //Per defecte utilitzaría flex
  display: flex;
  flex-direction: column;
  flex: 1;
  
  @media(max-width: $tablet) {

    max-height: none; 
    height: auto; 
  }

  // Amb @supports indique que si el navegador es compatible amb grid utiltize aquesta part del codi
  @supports (display: grid) {
    display: grid;

    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1.5fr 1fr 3fr 1fr;
    grid-template-areas:
      "home__a home__a home__b"
      "home__a home__a home__b"
      "home__a home__a home__c"
      "home__d home__d home__c";
      

      @media(max-width: $tablet) {
        display: flex;
        flex-direction: column;
        max-height: none;
        height: auto; 
      }

      &__a { 
        grid-area: home__a;
        overflow: hidden;
      }
      
      &__b { 
        grid-area: home__b;
      }
      
      &__c { 
        grid-area: home__c;
      }
      
      &__d { 
        grid-area: home__d;
      }


  }

  &__a { 

    @media(max-width: $phone) {
      opacity: 0.7;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      @media(max-width: $tablet) {
        width: 100vw;
        height: auto;
      }
    }
  }

  &__b { 
    background-color: $color-secundari;
    font-family: $font-family-Comic;
    text-align: center;
    align-items: center;
    line-height: 1.5; 
    justify-content: start;
    container-type: inline-size;
    container-name: home;


    &__text {
      display: block;
      position: relative;
      animation: moveVertical 5s linear infinite;

      @media(max-width: $tablet) {
        animation: none;
      }



      &__1, &__2 {
        display: block;
        width: 100%;
        margin-bottom: 2vh; 

      }
  
      &__1 {
        animation: gamaGris 4s infinite linear;
      }
  
      &__2 {
        animation: gamaGris 6s infinite linear; 
      }
    }
  }

  &__c { 
    background-color: $gray;
    height: auto;
    color: $white;
    justify-content: center;
    align-items: center;


  &__container{
    padding: 3% 5%;
  }
    &__title { 
      font-size: 1.2rem;
    }
  
  }

  &__d { 
    overflow: hidden;
    white-space: nowrap;
    position: relative;

    i {
      font-size: 2rem; 
      padding: 0 10px; 
      animation: moveX 40s linear infinite;

      &:hover {
        transform: scale(110%);
      }
    } 
  }
}


@supports (container-type: inline-size) {
 

  @container home (max-width: 400px) {
    .historia-activity__image{
      width: 300px;
      height: 200px;
    }
  }
  @container  home (min-width: 150px) and (max-width: 200px) {
    .home__b__text__1, .home__b__text__2{
      font-size: 1.25rem;
    }  }
  @container home  (min-width: 200px) and (max-width: 250px) {
    .home__b__text__1, .home__b__text__2{
      font-size: 1.5rem;
    }  }
  @container home  (min-width: 250px) and (max-width: 300px) {
    .home__b__text__1, .home__b__text__2{
      font-size: 1.75rem;
    }  }
  @container home  (min-width: 300px) and (max-width: 400px) {
    .home__b__text__1, .home__b__text__2{
      font-size: 2rem;
    }  }
  @container home  (min-width: 400px) {
    .home__b__text__1, .home__b__text__2{
      font-size: 3rem;
    }  }
}
