@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  0%{ border-color: transparent; }
  50% { border-color: $dark-color; }
  100%{ border-color: transparent; }
}

.modal{
  

  @media (svmin: 0svmin) and (svmax: 20svmax) {
    .modal {
      width: 90%;
    }
  }

  @media (svmin: 20svmin) and (svmax: 40svmax) {
    .modal {
      width: 80%;
    }
  }

  @media (svmin: 40svmin) and (svmax: 60svmax) {
    .modal {
      width: 45%;
      margin-left: 20%;
    }
  }

  @media (lvmin: 60lvmin) and (lvmax: 100lvmax) {
    .modal {
      width: 30%;
      margin-left: 50%;
    }
  }
  

}

  
  .VallGallinera__h1 {
    width: 0;
    margin: 4% 0; 
    overflow: hidden; /* Oculta el text fora del contenidor */
    font-family: $font-family-Comic;
    font-size: 2.5rem;
 
    text-align: center; 
    white-space: nowrap;
    border-right: .15em solid transparent; /* Simula el cursor parpadejant */ 
    animation: typing 6s steps(30, end) forwards, blink-caret .5s step-end 5;
    @media (max-width: $phone) {
      font-size: 1.6rem;
    }
    
  }
  




  .formulari{
    margin: 5% auto;
  background: linear-gradient(to right, $cirera,$light-color, $white);
    &__title{

      
/* Dispositius menuts */
@media (max-width: 30svi) { /* 30 unitats SV per a mòbils */
  font-size: 2cqi; 
}

/* Dispositius mitjans */
@media (min-width: 31svi) and (max-width: 45svi) { 
  font-size: 2rem; 
}

/* Dispositivos grans  */
@media (min-width: 46svi) and (max-width: 70lvi) {
  font-size: 3rem; 
}

/* Dispositius extra grans  */
@media (min-width: 71lvi) { 
  font-size: 4%; 
}



    }
  @media (max-width: $tablet) {
    font-family: $font-family-Comic;
    
    font-weight: 400;
    color: $white;
    background: $gray;
  }
  border-radius: 20px;
  &__image-container{
    background-image: url(../images/Gallinera/cherry-105141.svg);
    background-repeat: no-repeat;
    background-position: center center;
    
  }

  &__container2{
    margin: 3vh
  }
}


.VallGallinera__Pobles{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3vh;

  @media (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $phone) {
    grid-template-columns:  1fr;
  }

  container-type: inline-size;
  container-name: cardsGallinera;

  &__Poble{
    border-radius: 15%;
    &__img{
  width: 100%;  
} 
}
  
}



.location {
  align-items: center;
  justify-content: center;
  margin: 0;
  text-align: center;
  


  &-title{
    margin-top: 5vh;
    font-weight: bold;

  }
  &__contact {
    justify-content: center;
    padding: 0;
    margin: 0 5%;
  
  

  
    &__list { 
      padding-left: 0; 
      margin-top: 1rem;
      
      list-style-type: none; 
    }
  
    &__item {
      
      margin-bottom: 0.5rem; 
    }
  
    &__link { 
      font-weight: 500;
      
      color: #007bff; 
      text-decoration: none; 
  
      &:hover, &:focus { 
        color: #0056b3;
      
        text-decoration: none; 
      }
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5lv;
    align-items: center;
    justify-content: space-around;
    margin: 1% auto; 

    @media (max-width: $tablet) { 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      text-align: center;

      .location__logo{
        display: flex;
        flex-direction: center;
        &__img{
        width: 90%;
        max-width: 300px;
      }
    }
      
      &__logo, &__map, &__contact {
        align-items: center; 
        justify-content: center;
        width: 100%;
        margin-bottom: 2rem;
        text-align: center;

  
      }
    }

    .location__logo{
      align-items: center;
      justify-content: center;
      text-align: center;
      &__img {
      width: 300%; 
      @media (min-width: $tablet) and (max-width: 992px) {
        width: 90%; 
      }
      
      height: auto;
    } 
    }
    




  }
}

.VallGallinera__Galeria{
  margin: 2% 25%;
  @media (max-width: $tablet) {
    margin: 2% 5%;
  }

}

.Vall_info__text__h4 {
  margin: 2.5% 0;
  text-align: center;
  animation: deEsquerraADreta 4.2s linear;
}

@keyframes deEsquerraADreta {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@supports (container-type: inline-size) {
 

  @container cardsGallinera (min-width: 200px) {
    .VallGallinera__Pobles__Poble__img{
      height: 30cqh;
    }
  }

  @container  cardsGallinera (min-width: 200px) and (max-width: 300px) {
    .VallGallinera__Pobles__Poble__img{
      height: 34cqh;
    }
    }
    @container  cardsGallinera (min-width: 300px) and (max-width: 400px) {
      .VallGallinera__Pobles__Poble__img{
        height: 38cqh;
      }
      }

  @container home  (max-width: 400px) {
    .VallGallinera__Pobles__Poble__img{
      height: 40cqh;
    }
    }
}



.vall-info {
  &__process__icon_Amagat {
    width: 0;
    height: 0;
    // Ahora oculto todo el div 
    opacity: 0;
  }

  &__process {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    text-align: center;
    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $phone) {
      grid-template-columns: 1fr;
    }
    
    &__step{
      position: absolute;
      top: 0;
      right: 0;
      align-items: center;
      width:  2.5rem;
      height: 2.5rem;
      padding: 1rem;
      font-size: 0.9rem;
      line-height:  15px;
      color: set-text-color($dark-color);
      text-align: center;
      background: $main-color;
      border-radius: 50%;
      transition: all 1.5s;
    }

    
    &__icon {
      position: relative;
      width: 120px;
      height: 120px;
      padding: 2rem;
      line-height: 70px;
      color: set-text-color($dark-color);
      text-align: center;
      background-color: $dark-color;
      border-radius: 50%;
      transition: all 1.5s;

      &:hover {
        width: 170px;
        height: 170px;
        line-height: 100px;
        background-color: $main-color;
        h3 {
          width: 0;
          height: 0;
          opacity: 0;
        }

        .vall-info__process__step {
          color: $aliceblue;
          background-color: $dark-color;
        }
      }
    }
  }
}


