<footer class="footer text-center py-3">
  <div class="footer__container">
    <div>
      <a href="index.html">
        <img src="./assets/images/logo.png" class="logo" alt="Logo">
      </a>
    </div>
    <div>
      <nav class="header__nav d-flex justify-content-between flex-wrap">
        <a href="./index.html" class="index-link py-2 px-3">Inici</a>
        <a href="cuiners.html" class="cuiners-link py-2 px-3">Concursants</a>
        <a href="historia.html" class="historia-link py-2 px-3">Informació Concurs</a>
        <a href="VallGallinera.html" class="vallgallinera-link py-2 px-3">Vall de Gallinera</a>
      </nav>
    </div>
    <div>
      <a href="https://google.com" class="mx-2"><i class="fa-brands fa-2xl fa-google social-icon"></i></a>
      <a href="https://facebook.com" class="mx-2"><i class="fa-brands fa-2xl fa-facebook-f social-icon"></i></a>
      <a href="https://twitter.com" class="mx-2"><i class="fa-brands fa-2xl fa-twitter social-icon"></i></a>
    </div>
  </div>
</footer>
