<div class="cuiners__concursant">
    <img class="cuiners__imatge" src="./assets/images/Cocineros/cocinero2.jpg" alt="Cocinero 2">
    <div class="cuiners__meta">
      <p class="cuiners__valoracio">Valoració</p>
      <div class="cuiners__estrelles">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
    <div class="cuiners__contingut">
      <h2 class="cuiners__nom">Marc Gisbert</h2>
      <p class="cuiners__descripcio">Cuiner del seu home</p>
      <p class="cuiners__text">Tot i no ser xef professional, tot el seu bari li demana el seu pastis de formatge</p>
    </div>
    <div class="cuiners__xarxes">
      <a href="https://www.tiktok.com/" target="_blank"><i class="fab fa-tiktok"></i></a>
      <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
      <a href="https://discord.gg/" target="_blank"><i class="fab fa-discord"></i></a>
    </div>  </div>