<section class="formulari_cards container">
    <h2 class="mt-3 text-center"> Els pobles de <span class="VallGallineraSpan">la Vall de Gallinera</span></h2>
    <div class=" py-5 VallGallinera__Pobles">
      <!-- Benirrama -->
      <include src="./views/Vall/poblesCards/benirrama.html"></include>
     
      <!-- Benialí -->
      <include src="./views/Vall/poblesCards/beniali.html"></include>

      <!-- Benitaia -->
      <include src="./views/Vall/poblesCards/benitaia.html"></include>

    <!-- La Carroja -->
    <include src="./views/Vall/poblesCards/carroja.html"></include>

    <!-- Alpatró -->
    <include src="./views/Vall/poblesCards/alpatro.html"></include>


    <!-- Llombai -->
    <include src="./views/Vall/poblesCards/llombai.html"></include>
    <!-- Benissili -->
    <include src="./views/Vall/poblesCards/benisiili.html"></include>
    </div>
  </section>