<section class="VallGallinera__Galeria w-90">
    <h2 class="text-center mb-5"> Les postres que van guanyar</h2>
    <p class="text-center mb-5"> A continuació pots veure</p>
    <!-- slider-->
    <div id="VallGallinera__Galeria__slider" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#VallGallinera__Galeria__slider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#VallGallinera__Galeria__slider" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#VallGallinera__Galeria__slider" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">    
        <div class="carousel-item active VallGallinera__Galeria__slider__container__images">
        <img class="d-block w-100" src="./assets/images/galeriaPastis/pastis1.jpg" alt="Pastis 1">
        <div class="carousel-caption d-none d-md-block">
          <h5>Primer guanyador del concurs</h5>
          <p>Pastis de cireres de la <span class="VallGallineraSpan">Vall</span>.</p>
        </div>
      </div>
      <div class="carousel-item VallGallinera__Galeria__slider__container__images">
        <img class="d-block w-100" src="./assets/images/galeriaPastis/pastis7.jpg" alt="Pastis 2">
        <div class="carousel-caption d-none d-md-block">
          <h5>Pastis de Cireres i maduixes</h5>
          <p>Aquest pastis va ser elaborat per la cuinera de la <span class="VallGallineraSpan">Vall</span> Angela Idefix</p>
        </div>
      </div>
  
      <div class="carousel-item VallGallinera__Galeria__slider__container__images ">
        <img class="d-block w-100" src="./assets/images/galeriaPastis/pastis5.jpg" alt="Pastis 3">
        <div class="carousel-caption d-none d-md-block blar">
          <h5>Pastis de l'armonia</h5>
          <p>La seua decoració de flors de cirerer recorda a la <span class="VallGallineraSpan">Vall</span></p>
        </div>
      </div>
  
  
  
  
  
  
      <button class="carousel-control-prev" type="button" data-bs-target="#VallGallinera__Galeria__slider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#VallGallinera__Galeria__slider" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
  
  
    </div>
  </div>
    <!-- fi Slider-->
  </section>