<section id="vall-info" class="text-center padding-4 vall-info">
    <div class="container">
        <h2 class="section-title">
         Coses a saber del concurs!
        </h2>
        <div class="boto-line"></div>

        <div class="vall-info__process">
          <div>
            <i class="fa-solid fa-trophy fa-3x vall-info__process__icon margin-2">
              <div class="vall-info__process__step">
                3
              </div>
            </i>
            <h3>Premis</h3>
            <p>Aquest any el concurs comptarà amb tres premis.</p>
          </div>
          <div>
            <i class="fa-solid fa-people-group fa-3x vall-info__process__icon margin-2">
              <div class="vall-info__process__step">
                170 
              </div>
            </i>
            <h3>Aspirants a la cirera d'or</h3>
            <p>L'any passat vam comptar amb 170 aspirants a millor reposter de la Vall</p>
          </div>

          <div>
            <i class="fa-solid fa-money-bill-1 fa-3x vall-info__process__icon margin-2">
              <div class="vall-info__process__step">
                0
              </div>
            </i>
            <h3>Entrada Gratuita</h3>
            <p>L'assitencia al concurs es absolutament grauïta</p>
          </div>       
          
          <div>
            <i class="fa-solid fa-mountain-city fa-3x vall-info__process__icon margin-2">
              <div class="vall-info__process__step mb-3">
                7
              </div>
            </i>
            <h3>Localitzacions</h3>
            <p>Les proves es realitzaràn en els diferents muncipis de la Vall.</p>
          </div>  
        </div>
    </div>
</section>
