<section class="formulari container w-75 mt-5 shadow">

    <div class="formulari__container row align-items-stretch m-2">
      
      <div class="formulari__image-container col d-none d-lg-block col-md-5 col-lg-5 col-xl-6">
      </div>

      <div class="formulari__fields-container col bg-opacity-25">
        <h2 class="formulari__title fw-bold text-center pt-5 mb-5">
          Inscriu-te per a tenir més informació
        </h2>
        
        <div class="formulari__alert alert alert-success alert-dismissible fade d-none" role="alert" id="alert-Formulari">
          Dades enviades correctament
        </div>

        <form action="#" class="formulari__form m-4">
          <div class="formulari__input-group mb-4">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email">
          </div>
          <div class="formulari__input-group mb-4">
            <label for="name" class="form-label">Nom</label>
            <input type="email" class="form-control" name="name">
          </div>
          <div class="formulari__checkbox mb-4 form-check">
            <input type="checkbox" name="validar" class="form-check-input">
            <label for="connected" class="form-check-label">Accepte les condicions d'us</label>
          </div>
          <div class="formulari__submit-button d-grid">
            <button type="button" id="boto-Formulari" class="btn btn-primary">Enviar dades</button>
          </div>
        </form>

        <div class="formulari__social-links container w-100 my-5">
          <div class="row text-center">
            <div class="col-12 p-1  text-bg  fs-4">Les nostres xarxes</div>
          </div>
          <div class="row">
            <div class="col">
              <button class="btn btn-outline-primary w-100 my-1 formulari__social-button">
                <div class="row align-items-center">
                  <div class="col-2 align-items-center">
                    <img src="assets/images/Gallinera/Logo/Logofacebook.png" width="32px" alt="Logo Facebook">
                  </div>
                  <div class="col-10 text-center">
                    Facebook
                  </div>
                </div>
              </button>
            </div>
            <div class="col">
              <button class="btn btn-outline-danger w-100 my-1 formulari__social-button">
                <div class="row align-items-center">
                  <div class="col-2">
                    <img src="assets/images/Gallinera/Logo/LogoYoutbe.png" width="32px" alt="Logo YouTube">
                  </div>
                  <div class="col-10 text-center">
                    YouTube
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
