<section class="location bg-light">
    <h2 class="location__title text-center ">On ens trobaràs</h2>
  
    <div class="location__container container p-0">
     
        <!-- Bloc del logotip -->
        <div class="location__logo col-lg-4 mb-3">
          <img class="location__logo__img" src="./assets/images/GallineraLogo2.png" alt="Logo Gallinera" class="location__logo-img" data-bs-toggle="tooltip" data-bs-placement="top" title="L'essència de la Vall">
        </div>
    
        <!-- Bloc del mapa -->
        <div class="location__map col-lg-3 mb-3">
          <div class="location__map-frame map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49732.65013341492!2d-0.2753117492881515!3d38.82580431506004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd61ed8ab195332b%3A0x1ff2013b2d034873!2sVall%20de%20Gallinera%2C%2003787%2C%20Alicante!5e0!3m2!1ses!2ses!4v1713699819814!5m2!1ses!2ses" width="auto" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </iframe>
          </div>
        </div>

    
        <!-- Bloc de contacte -->
        <div class="location__contact  p-3">
          <h2 class="location__contact-title text-center">Informació</h2>
          <ul class="location__contact-list list-unstyled  mb-3">
            <li class="location__contact-item  mb-3"><a href="mailto:exemple@gallinera.com" class="location__contact-link">exemple@gallinera.com</a></li>
            <li class="location__contact-item  mb-3"><a href="tel:+34XXXXXXXX" class="location__contact-link">+34 XXXXXXXXXX</a></li>
          </ul>
        </div>
      
    </div>
  </section>