<div class="container ">
     
    <div class="text-center">
      <p>
        <span class="VallGallineraSpan">La Vall de Gallinera</span> se prepara per a les seves festes anuals, i com a preludi, arriba el tradicional Concurs de <span class="PostresSpan">Postres</span>, un esdeveniment que posa en valor la dolça gastronomia local i la passió dels seus habitants per la cuina.

      </p>

      <h4 > Un recorregut per la <span class="VallGallineraSpan">Vall</span> a través de cada <span class="PostresSpan">postre</span> </h4>


      <p class="mb-5">En aquesta ocasió, el concurs es desenvolupa al llarg de diversos pobles de la <span class="VallGallineraSpan">Vall</span>, on cada participant presenta la seva creació en una prova específica. A continuació, descobrim els guanyadors de les últimes edicions i els seus deliciosos <span class="PostresSpan">postres</span>:</p>
    
    </div>
    <!-- Tabla premiats-->
    <div class="flex flex-col">
      <div class="overflow-x-auto mx-auto">
        <table class="min-w-full divide-y divide-gray-200 border border-blue-400">
          <thead class="bg-gray-800 text-white">
            <tr>
              <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider bg-gray-100">Any</th>
              <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Premiat</th>
              <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Postre</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-blue-100">
              <td class="px-6 py-4 whitespace-nowrap">2021</td>
              <td class="px-6 py-4 whitespace-nowrap">Aina Idèfix</td>
              <td class="px-6 py-4 whitespace-nowrap">Pastís de cireres de la <span class="VallGallineraSpan">Vall</span></td>
            </tr>
            <tr class="bg-gray-100">
              <td class="px-6 py-4 whitespace-nowrap">2022</td>
              <td class="px-6 py-4 whitespace-nowrap">Reme Casselles</td>
              <td class="px-6 py-4 whitespace-nowrap">Pastís de Cireres i maduixes</td>
            </tr>
            <tr class="bg-green-100">
              <td class="px-6 py-4 whitespace-nowrap">2023</td>
              <td class="px-6 py-4 whitespace-nowrap">Salvador Feliu</td>
              <td class="px-6 py-4 whitespace-nowrap">Pastís de l'armonia</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    
  </div>