<div class="container Vall_info">
     
    <div class="Vall_info__text">
      <p>
        <span class="VallGallineraSpan">La Vall de Gallinera</span> se prepara per a les seves festes anuals, i com a preludi, arriba el tradicional Concurs de <span class="PostresSpan">Postres</span>, un esdeveniment que posa en valor la dolça gastronomia local i la passió dels seus habitants per la cuina.

      </p>

      <h4 class="Vall_info__text__h4"> Un recorregut per la <span class="VallGallineraSpan">Vall</span> a través de cada <span class="PostresSpan">postre</span> </h4>


      <p class="mb-5">En aquesta ocasió, el concurs es desenvolupa al llarg de diversos pobles de la <span class="VallGallineraSpan">Vall</span>, on cada participant presenta la seva creació en una prova específica. A continuació, descobrim els guanyadors de les últimes edicions i els seus deliciosos <span class="PostresSpan">postres</span>:</p>
    
    </div>
    <!-- Tabla premiats-->
    <div class="row">
      <div class="col-12">
        <!-- Responsive table container -->
        <div class="table-responsive" style=" margin: auto;">
          <table class="table table-striped table-bordered">
            <thead class="table-dark">
              <tr>
                <th>Any</th>
                <th>Premiat</th>
                <th>Postre</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-primary">
                <td>2021</td>
                <td>Aina Idèfix</td>
                <td>Pastís de cireres de la <span class="VallGallineraSpan">Vall</span></td>
              </tr>
              <tr class="table-secondary">
                <td>2022</td>
                <td>Reme Casselles</td>
                <td>Pastís de Cireres i maduixes</td>
              </tr>
              <tr class="table-success">
                <td>2023</td>
                <td>Salvador Feliu</td>
                <td>Pastís de l'armonia</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>