<h1 class="contenidor-grid__title">Sabors de la Vall</h1>
<div class="contenidor-grid">
   <!-- <div class="contenidor-grid__background"></div>  Imatge de fons-->
    <!-- Bloc1 de les imatges-->
    <div class=" contenidor-grid__item--image1">
        <img src="./assets/images/home/Fons1.webp" alt="Imatge de fons">

    </div>
    
    


    <div class=" contenidor-grid__item--info">
        <img src="./assets/images/home/premiCirera.png" alt="Premi de la cirera" data-bs-toggle="tooltip" data-bs-placement="top" title="L'essència de la Vall"> 
    </div>
        <!-- Aquesta part sols es veu amb display flex no en grid-->
        <div class=" contenidor-grid__item--displayNone">
            <section> 
                <img class=" contenidor-grid__item--displayNone--logo"  src="./assets/images/home/logoPortada.png" alt="logo" data-bs-toggle="tooltip" data-bs-placement="top" title="Logo de la Vall"> 
            <article>
            <h3> La Vall de Gallinera: Un paradís gastronòmic a la Marina Alta </h3>
            <p> Amagada entre muntanyes i mar, la Vall de Gallinera es revela com un oasi de pau i sabor a la Marina Alta. Un paisatge únic, on la natura brolla en cada racó i la tradició es palpa en cada aroma. I és en aquest escenari idíl·lic que neix el premi "Sabors de la Vall", un homenatge a la gastronomia local i una invitació a descobrir un món de delícies amagades.
            </p>
            </article>
    
            <article>
            <h3>Un premi que uneix tradició i innovació
            </h3>
            <p>"Sabors de la Vall" no és només un concurs, és una celebració de la cultura culinària de la Vall de Gallinera. Un premi que busca reconèixer el talent dels nostres cuiners i cuineres, i que alhora impulsa la innovació en la cuina tradicional. Un esdeveniment que posa en valor els productes locals i que contribueix a dinamitzar l'economia de la vall.
            </p>
    
            </article>
    
            <article>
            <h3>Un viatge inoblidable per a tota la família
            </h3>
            <p>Més enllà del concurs, "Sabors de la Vall" és una experiència inoblidable per a tota la família. Vine acompanyat dels teus i gaudeix de la bellesa natural de la Vall de Gallinera, participa en tallers gastronòmics, descobreix els secrets de la nostra cuina i deixa't seduir pels sabors autèntics d'aquest paradís gastronòmic.
            </p>
            </article>
    
            <article>
            <h3>Inscriu-te ja i forma part d'una experiència única!
            </h3>
            <p> No ho dubtis més, inscriu-te al premi "Sabors de la Vall" i forma part d'una experiència que marcarà un abans i un després en la teva trajectòria culinària. Vine a descobrir la Vall de Gallinera, un lloc on la tradició es fusiona amb la innovació per crear plats únics i inoblidables.
            </p>
    
    
            <ul>
                <li>"Sabors de la Vall" és un concurs obert a tots els públics.</li>
                <li>La inscripció és gratuïta i pot realitzar-se en línia o presencialment.</li>
                <li>El concurs comptarà amb un jurat d'experts en gastronomia que seleccionarà els millors plats participants.</li>
                <li>El premi al guanyador serà un reconeixement a la seva trajectòria culinària i un important impuls a la seva carrera professional.</li>
            </ul>
            </article>
    
        </section>
        
        </div>
        
         <!-- Bloc2 de les imatges ha d'estar en l'esquerra-->
        <div class=" contenidor-grid__item--image2">
            <img src="./assets/images/home/concursAdults.webp" alt="Imatge de fons">
        </div>
        <div class=" contenidor-grid__item--adults"><h4 class="text-center">Participa en el concurs per a adults</h4></div>
        <button class="btn btn-primary contenidor-gridd__item contenidor-grid__item__boto--adults">Inscriu-te Ara</button>
        <div class=" contenidor-grid__item--image3">
            <img src="./assets/images/home/concursNens.webp" alt="Imatge de fons">
        </div>
        <div class=" contenidor-grid__item--xiquets"><h4 class="text-center">Participa en el concurs Junior de la cirera</h4></div>
        <button class="btn btn-primary contenidor-gridd__item contenidor-grid__item__boto--xiquets">Inscriu-te Ara</button>

 </div>


        
    


