<h1 class="contenidor-grid__title">Sabors de la Vall</h1>
<div class="contenidor-grid">

    <!-- Imatge 1-->
    <include src="./views/home/imatge1.html"></include> 

    <!-- Bloc Info-->
    <include src="./views/home/blocinfo.html"></include>

    <!-- Bloc displayNone-->
    <include src="./views/home/displayNone.html"></include>
        
    <!-- Bloc2 de les imatges ha d'estar en l'esquerra-->
    <include src="./views/home/image2.html"></include>

    <!-- Bloc3 de les imatges ha d'estar en la dreta-->
    <include src="./views/home/image3.html"></include>

 </div>


        
    


