<div class="home__d align-content-center"> 
  <include src="./views/home/fontwareAliments.html"></include>    
  <include src="./views/home/fontwareAliments.html"></include> 
  <include src="./views/home/fontwareAliments.html"></include> 
  <include src="./views/home/fontwareAliments.html"></include> 
  <include src="./views/home/fontwareAliments.html"></include> 
  <include src="./views/home/fontwareAliments.html"></include> 
  <include src="./views/home/fontwareAliments.html"></include> 
  <include src="./views/home/fontwareAliments.html"></include> 
  <include src="./views/home/fontwareAliments.html"></include> 
  <include src="./views/home/fontwareAliments.html"></include> 
  <include src="./views/home/fontwareAliments.html"></include>  
  </div>