<div class="home__c"> 
  <div class="home__c__container ">
    <h2 class="home__c__title text-center mb-3">Formulari d'Inscripció</h2>
    <form class="home__c__form mb-3">
      <div class="form-group mb-3">
        <label for="nomComplet" class="form-control__label text-center d-block mb-3">Nom Complet</label>
        <input type="text" class="form-control mb-3" id="nomComplet" required>
      </div>
      <div class="form-group  mb-3">
        <label for="correu" class="form-control__label text-center d-block  mb-3">Correu Electrònic</label>
        <input type="email" class="form-control mb-3" id="correu" required>
      </div>
      <div class="form-group  mb-3">
        <label for="edat" class="form-control__label text-center d-block mb-3">Edat</label>
        <input type="number" class="form-control mb-5" id="edat" required>
      </div>
      <button type="submit" class="home__c__submit-btn btn btn-success w-100 ">Inscriu-te</button>
    </form>
  </div>
</div>
