<div class="home__d align-content-center"> 
  <i class="fas fa-hamburger"></i>
  <i class="fas fa-pizza-slice"></i>
  <i class="fas fa-apple-alt"></i>
  <i class="fas fa-fish"></i>
  <i class="fas fa-carrot"></i>
  <i class="fas fa-ice-cream"></i><i class="fas fa-hamburger"></i>
  <i class="fas fa-pizza-slice"></i>
  <i class="fas fa-apple-alt"></i>
  <i class="fas fa-fish"></i>
  <i class="fas fa-carrot"></i>
  <i class="fas fa-ice-cream"></i><i class="fas fa-hamburger"></i>
  <i class="fas fa-pizza-slice"></i>
  <i class="fas fa-apple-alt"></i>
  <i class="fas fa-fish"></i>
  <i class="fas fa-carrot"></i>
  <i class="fas fa-ice-cream"></i><i class="fas fa-hamburger"></i>
  <i class="fas fa-pizza-slice"></i>
  <i class="fas fa-apple-alt"></i>
  <i class="fas fa-fish"></i>
  <i class="fas fa-carrot"></i>
  <i class="fas fa-ice-cream"></i><i class="fas fa-hamburger"></i>
  <i class="fas fa-pizza-slice"></i>
  <i class="fas fa-apple-alt"></i>
  <i class="fas fa-fish"></i>
  <i class="fas fa-carrot"></i>
  <i class="fas fa-ice-cream"></i><i class="fas fa-hamburger"></i>
  <i class="fas fa-pizza-slice"></i>
  <i class="fas fa-apple-alt"></i>
  <i class="fas fa-fish"></i>
  <i class="fas fa-carrot"></i>
  <i class="fas fa-ice-cream"></i><i class="fas fa-hamburger"></i>
  <i class="fas fa-pizza-slice"></i>
  <i class="fas fa-apple-alt"></i>
  <i class="fas fa-fish"></i>
  <i class="fas fa-carrot"></i>
  <i class="fas fa-ice-cream"></i><i class="fas fa-hamburger"></i>
  <i class="fas fa-pizza-slice"></i>
  <i class="fas fa-apple-alt"></i>
  <i class="fas fa-fish"></i>
  <i class="fas fa-carrot"></i>
  <i class="fas fa-ice-cream"></i><i class="fas fa-hamburger"></i>
  <i class="fas fa-pizza-slice"></i>
  <i class="fas fa-apple-alt"></i>
  <i class="fas fa-fish"></i>
  <i class="fas fa-carrot"></i>
  <i class="fas fa-ice-cream"></i><i class="fas fa-hamburger"></i>
  <i class="fas fa-pizza-slice"></i>
  <i class="fas fa-apple-alt"></i>
  <i class="fas fa-fish"></i>
  <i class="fas fa-carrot"></i>
  <i class="fas fa-ice-cream"></i>      
  </div>