<div class="col VallGallinera__Pobles__Poble">
    <div class="card h-100 text-center">
      <img src="./assets/images/pobles/lcarroja.jpg" class="VallGallinera__Pobles__Poble__img  card-img-top" alt="La Carroja">
      <div class="card-body">
        <h5 class="card-title text-center"><span class="poblesVall">La Carroja</span></h5>
        <p class="card-text">Aquest poble és famós pels seus cerezos en flor durant el mes de març i per la font de la Carroja.</p>
      </div>
      <div class="card-footer d-flex justify-content-around">
        <a href="https://es.wikipedia.org/wiki/Vall_de_Gallinera" class="wikipedia">
          <i class="fab fa-2x align-items-center text-center justify-content-center fa-wikipedia-w"></i>
        </a>
        <a href="https://www.youtube.com/results?search_query=Vall+de+Gallinera" class="youtube">
          <i class="fab fa-2x fa-youtube align-items-center text-center justify-content-center "></i>
        </a>
        <a href="https://www.instagram.com/explore/tags/valldegallinera/" class="instagram align-items-center ">
          <i class="fab fa-2x fa-instagram align-items-center text-center justify-content-center "></i>
        </a>
      </div>
    </div>
  </div>